In [21]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [ ]:
# @NOTE: Replace the path with your actual path to the chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# Visit https://mars.nasa.gov/news/
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [ ]:


# Get the News Titles
titles = soup.find_all('div', class_='content_title')
paragraphs = soup.find_all('div', class_='article_teaser_body')


for title in titles:
        print('Titles:', '-------------')
        print(title.text)
for paragraph in paragraphs:
        print('Text:')
        print(paragraph.text)

browser.find_link_by_text('More').last.click()

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [ ]:
path ="https://www.jpl.nasa.gov"
#relative_image_path = soup.find_all('div', class_='image_and_description_container')
relative_image_paths = [img['src'] for img in soup.find_all('img')]
#print(relative_image_path)

for relative_image_path in relative_image_paths:
        
        featured_image_url = path + relative_image_path
        print(featured_image_url)

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://twitter.com/marswxreport"
browser.visit(url)

In [ ]:
text = soup.find_all('ol',  class_='stream-items js-navigable-stream')
print(text)

In [ ]:
<li class="js-stream-item stream-item stream-item
" data-item-id="1125442910261006336" id="stream-item-tweet-1125442910261006336" data-item-type="tweet" data-suggestion-json="{"suggestion_details":{},"tweet_ids":"1125442910261006336","scribe_component":"tweet"}">â€¦</li>

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://space-facts.com/mars/"
browser.visit(url)

In [30]:
col1 = soup.find_all('td', class_='column-1')
col2 = soup.find_all('td', class_='column-2')
column1 = []
column2 = []
for col in col1:
    column1.append(col.text)
for col in col2:
    column2.append(col.text)
#print(col1)
#print(col2)
data = {'Facts': column1, 'Data' : column2}
df = pd.DataFrame(data=data)
df.head()

                  Facts                           Data
0  Equatorial Diameter:                     6,792 km\n
1       Polar Diameter:                     6,752 km\n
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)